<ion-content [fullscreen]="true">
  <div> <p class="mtitle">DAILY INSIGHTS</p></div>
  <div id="container">
    <ion-list> 
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Discover what is the single biggest factor in your carbon footprint...</ion-col>
            <img src="../../assets/i1.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Do you go to the mall often? Find out what you can do to reduce...</ion-col>
            <img src="../../assets/i2.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Best ways to commute for different destinations</ion-col>
            <img src="../../assets/i3.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Discover what is the single biggest factor in your carbon footprint...</ion-col>
            <img src="../../assets/i4.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Discover what is the single biggest factor in your carbon footprint...</ion-col>
            <img src="../../assets/i1.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Do you go to the mall often? Find out what you can do to reduce...</ion-col>
            <img src="../../assets/i2.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Best ways to commute for different destinations</ion-col>
            <img src="../../assets/i3.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Discover what is the single biggest factor in your carbon footprint...</ion-col>
            <img src="../../assets/i4.png" alt="">
          </ion-row> 
        </ion-grid>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
